.HeaderCell {
  padding: 0;
  background: #ededed;
  border: 1px solid #dee2e6;
}

.HeaderCell:hover {
  background: #e6e6e6;
}

.HeaderCell:first-child {
  border-radius: 8px 0 0 0;
}

.HeaderCell:last-child {
  border-radius: 0 8px 0 0;
}